In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas_datareader.data as pdf

# 単独株式の価格とリターンのシミュレーション

時刻tにおける株式リターン：
$
r_t = \mu  \Delta t + \sigma \sqrt{\Delta t}Z 
$

時刻tにおける株価：
$
S_t = S_{t-1} \exp(\mu \Delta t + \sigma\sqrt{\Delta t}Z)
$

を利用しシミュレーションを行う

### 時刻tにおける株式リターンを計算する関数作成

In [21]:
def sim_return(mu, delta_t, sigma, Z):
    r = mu * delta_t + sigma*np.sqrt(delta_t) * Z
    return r

### 変数の定義

In [2]:
#平均μ
mu = 0.12
#標準偏差σ
sigma = 0.3
#Δt
delta_t = 0.0833
#当初価格
p_t0 = 12

In [12]:
months = np.arange(1, 13)
prices = np.zeros(12)
prices[0] = p_t0
Z = np.random.randn(12)

### 計算

In [13]:
for i in range(1,12):
    prices[i] = prices[i-1] * np.exp(mu*delta_t+sigma*np.sqrt(delta_t)*Z[i])

In [14]:
df = pd.DataFrame({"価格":prices}, index=months)

In [15]:
df

           価格
1   12.000000
2   12.117124
3    9.262696
4    9.411133
5    9.936272
6    9.690880
7    8.268580
8    8.092452
9    9.171142
10  10.396735
11  11.657158
12  10.672839