In [2]:
import numpy as np
import pandas as pd
from IPython.display import display

# 13 The Black-Litterman Approach to Portfolio Optimization

### 13.2 A Naive Problem

In [3]:
SuperDuper = pd.read_excel("Chapter 13.xlsm", header=None)
SuperDuper.shape

(67, 12)

In [4]:
info = pd.DataFrame(SuperDuper.loc[2:3,1:10].values, columns=SuperDuper.loc[1,1:10].values, index=["volume","ratio"])

In [5]:
info

,General Motors GM,Home Depot HD,International Paper IP,Hewlett-Packard HPQ,Altria MO,American Express AXP,Alcoa Aluminum AA,DuPont DD,Merck MRK,MMM
volume,16.85,73.98,15.92,88.37,153.33,65.66,28.16,38.32,79.51,60.9
ratio,0.0271337,0.11913,0.0256361,0.142303,0.246908,0.105733,0.0453462,0.0617069,0.128035,0.0980676

In [7]:
data_raw = pd.DataFrame(SuperDuper.loc[6:,1:10].values, index=SuperDuper.loc[6:,0].values, columns=SuperDuper.loc[1,1:10].values)

In [8]:
data_raw.head()

,General Motors GM,Home Depot HD,International Paper IP,Hewlett-Packard HPQ,Altria MO,American Express AXP,Alcoa Aluminum AA,DuPont DD,Merck MRK,MMM
2001-06-01,50.31,45.26,31.22,26.47,38.74,32.47,36.06,40.88,50.74,51.56
2001-07-02,49.72,48.26,35.64,22.83,35.61,33.82,35.37,36.29,53.98,50.55
2001-08-01,43.14,44.06,35.32,21.48,37.1,30.54,34.5,35.01,51.96,47.3
2001-09-04,33.81,36.79,30.66,14.92,37.79,24.37,28.06,32.07,53.16,44.71
2001-10-01,32.56,36.66,31.5,15.65,36.63,24.75,29.34,34.18,50.93,47.43

In [9]:
data = data_raw.pct_change().dropna()

In [10]:
info.loc["mean return"] = data.mean()
info.loc["std"] = data.std()

In [11]:
E = info.loc["mean return"].values

S = (data-E).T.dot(data) / (data.shape[0]-1)
rf = 0.004
print(S.shape)
print(E.shape)

(10, 10)
(10,)

In [12]:
E

array([-0.0028954300589064323, -0.00038576563712894676,
       0.002519920959113198, 0.008854965595154014, 0.014484135718647576,
       0.010315691303775434, 0.0027234317712828376, 0.00216985418435956,
       -0.0023161094085593597, 0.009056081319677603], dtype=object)

In [13]:
S_inv = pd.DataFrame(np.linalg.inv(S.values), index=S.index, columns=S.columns)
tmp = S_inv.dot(E-rf)
optimalport = S_inv.dot(E-rf) / tmp.sum()

In [14]:
optimalport #too many short positions:Unrealistic

General Motors\nGM         -1.24884
Home Depot\nHD             -3.36966
International Paper\nIP    -2.17696
Hewlett-Packard\nHPQ      -0.249645
Altria\nMO                  1.45462
American Express\nAXP       5.65314
Alcoa Aluminum\nAA          1.11991
DuPont\nDD                 -2.28426
Merck\nMRK                 -1.37325
MMM                         3.47496
dtype: object

In [ ]:
#use shrinkage
S =