In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas_datareader.data as pdf

In [21]:
def sim_return(mu, delta_t, sigma, Z):
    r = mu * delta_t + sigma*np.sqrt(delta_t) * Z
    return r

# 単独株式の価格とリターンのシミュレーション

時刻tにおける株式リターン
$$
r_t = \mu  \Delta t + \sigma \sqrt{\Delta t}Z 
$$
時刻tにおける株価
$$
S_t = S_{t-1} \exp(\mu \Delta t + \sigma\sqrt{\Delta t}Z)
$$

### 変数の定義

In [2]:
#平均μ
mu = 0.12
#標準偏差σ
sigma = 0.3
#Δt
delta_t = 0.0833
#当初価格
p_t0 = 12

In [12]:
months = np.arange(1, 13)
prices = np.zeros(12)
prices[0] = p_t0
Z = np.random.randn(12)

### 計算

In [13]:
for i in range(1,12):
    prices[i] = prices[i-1] * np.exp(mu*delta_t+sigma*np.sqrt(delta_t)*Z[i])

In [14]:
df = pd.DataFrame({"価格":prices}, index=months)

In [15]:
df

           価格
1   12.000000
2   12.117124
3    9.262696
4    9.411133
5    9.936272
6    9.690880
7    8.268580
8    8.092452
9    9.171142
10  10.396735
11  11.657158
12  10.672839

# 二つの株式のポートフォリオ
$$
Z_2 = \rho Z_1 + \sqrt{1-\rho^2}Z_3
$$
の時、標準正規乱数$Z_1$と$Z_2$は相関$\rho$を持つことを利用する

### 変数の定義

In [16]:
#株式１、２の平均μ
mu1 = 0.12
mu2 = 0.15
#株式１、２の標準偏差σ
sigma1 = 0.22
sigma2 = 0.3
#相関係数ρ
rho = 0.5
#月次リターン 1/12 = 0.0833
delta_t = 0.0833

### 乱数作成

In [19]:
Z1 = np.random.randn(12)
Z3 = np.random.randn(12)
Z2 = rho * Z1 + np.sqrt(1-rho**2)*Z3

### 計算

In [22]:
returns1 = np.zeros(12)
returns2 = np.zeros(12)
months = np.arange(1,13)

for i in range(12):
    returns1[i] = sim_return(mu1, delta_t, sigma1, Z1[i])
    returns2[i] = sim_return(mu2, delta_t, sigma2, Z2[i])

In [23]:
df = pd.DataFrame({"株式1":returns1, "株式2":returns2, "Z1":Z1, "Z2":Z2}, index=months)

In [24]:
df

         株式1       株式2        Z1        Z2
1  -0.018962 -0.050496 -0.456066 -0.727507
2   0.062826 -0.048758  0.832030 -0.707429
3  -0.013610 -0.012075 -0.371774 -0.283765
4   0.056066  0.068790  0.725552  0.650164
5   0.067080  0.089188  0.899021  0.885749
6  -0.028852 -0.018136 -0.611818 -0.353763
7  -0.047495 -0.050773 -0.905427 -0.730697
8   0.120535  0.101427  1.740882  1.027101
9  -0.032983  0.101403 -0.676882  1.026829
10 -0.043627 -0.109621 -0.844510 -1.410359
11 -0.018399 -0.153966 -0.447201 -1.922508
12  0.029153 -0.094477  0.301711 -1.235453

### ポートフォリオのシミュレーション

In [ ]:
assets0 = 10000
stock1_ratio = 0.25